---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
    <Image
    src={presentation.profile}
    class="w-1/4 self-center rounded-full"
    alt="Your Profile"
    width="200"
    height="200"/>
    <main class="flex flex-col gap-20">
        <div class="">
            <div class="flex flex-col gap-8">
                <h1 class="text-3xl text-neutral-100">
                  {presentation.title}
                </h1>
               
        </div>

        

        <h2
        class="w-auto max-w-[60ch] leading-6 "
        set:html={convertAsteriskToStrongTag(presentation.description)}
        />
        <SocialLinks/>
    </main>
</Layout>