---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import TimeLineElement from "@/components/cv/TimeLine.astro";
import presentation from "@/data/presentation";
import SocialLinks from "@/components/SocialLinks.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
---

<Layout>
  <style>
    .rating {
        unicode-bidi: bidi-override;
        text-align: center;
    }
  
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
  
    .rating > span:before {
        content: "\2606";
        position: absolute;
    }
  </style>
  <main>
  <article
  class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
>
  {
    presentation.profile && (
      <Image
        src={presentation.profile}
        class="w-1/4 self-center rounded-full"
        alt="Your Profile"
        width="200"
        height="200"
      />
    )
  }

  <div class="flex flex-col gap-8">
    <h1 class="text-3xl base-content">
      {presentation.title}
    </h1>

    <h2
      class="w-auto max-w-[60ch] leading-6"
      set:html={convertAsteriskToStrongTag(presentation.description)}
    />

    <SocialLinks />
  </div>
</article>

  </article>




  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ausbildung zum IT-Assistent mit Fachabitur"
      subtitle="08/2021 bis 07/2024 an Oberstufenzentrum Informations- & Medizintechnick, Berlin, Deutschland"
    />
    <TimeLineElement
      title="Grundschule + Skundarstufe I mit dem Abschluss MSA(OG)"
      subtitle="08/2021 bis 06/2021 an Cal-von-Linné-Schule, Berlin, Deutschland"
    />
  
    <TimeLineElement
    title="Grundschule + Skundarstufe I mit dem Abschluss MSA(OG)"
    subtitle="08/2021 bis 06/2021 an Cal-von-Linné-Schule, Berlin, Deutschland"
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Praktikant"
      subtitle="Von 02/2020 bis 02/2020 bei Akademie der Künste, Berlin, Deutschland"
    >
      Syntesizer entwiklung und Mastering
    </TimeLineElement>
    <TimeLineElement
    title="Praktikant"
    subtitle="Von 01/2019 bis 01/2019 bei Tosa Security & Service, Trebin, Deutschland"
  >
   Bürotätigkeiten
  </TimeLineElement>
    <TimeLineElement
    title="Praktikant"
    subtitle="Von 03/2018 bis 03/2018 bei Pfenigpfefer, Berlin, Deutschland"
  >
    Regale ein und aus gereumt
  </TimeLineElement>
  </div>

  <!--iv class="mb-5">
    <div class="text-3xl w-full font-bold">Ehrentamtliche Tätigkeiten</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Volenteer bei Special Olympics World Games Berlin 2023"
      subtitle="Von 06/2023 bis 06/2023 bei Special Olympics Germany, Berlin, Deutscland"
    >
      Healty Athletes Program Check in/Check out System
    </TimeLineElement>
  </div!-->

  <!--div class="mb-5">
    <div class="text-3xl w-full font-bold">Zertifizierungen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">noch keine (mit Link)</a>
    </li>
    <li>
      <a href="#" target="_blank">noch keine (mit Link)</a>
    </li>
  </ul!-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <ul class="text-800 w-full flex-auto list-disc md:columns-1 columns-1 mx">
    <li>Java <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
  </li>
    <li>Swift(SwiftUI) <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Cisco IOS <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Micriosoft 365 <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Visual Studio Code <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Apple Logic Pro <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Apple Xode 14+ <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Apple macOS <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Apple iOS <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Apple iPadOS <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Apple xrOS <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Linux <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Windows <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Microsoft Teams <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>Eclipse <br/>
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>MySQL
<div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
    <li>MySQL Comunity Server
<div class="rating">
        <span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
  </li>
  <li>MySQLWorckbench
<div class="rating">
        <span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    </li>
  </ul>
</main>
</Layout>



<!--div>
<div x-data="{ rating: 3 }">
<div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
</div!-->