---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"


import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";

import ProjectCard from "@/components/ProjectCard.astro";
import postimages from "@/data/postimages"
--- 


<Layout>
    <div>
        <section class="">
            <div class="grid grid-rows-4 grid-flow-col gap-4">
              {postimages.slice(0, 25).map((image) => (
                <div><img style="width:500px " src={image.path} alt="" /></div>
              ))}
            </div>    
        </section>        
    </div>
</Layout>
