---
import Layout from "@/layouts/Layout.astro";
import { postimages } from "@/data/postimages";
---

<Layout>
  <div>
    <section class="mb-4">
      <div class="mb-4">
        <label for="tagSearch" class="block text-sm font-medium text-gray-700">Search Tags:</label>
        <input
          type="text"
          id="tagSearch"
          placeholder="Enter tags..."
          class="mt-1 p-2 border border-gray-300 rounded-md w-full"
          on:input={(e) => handleTagSearch(e)}
        />
      </div>

      <div class="grid grid-rows-8 grid-cols-4 gap-4">
        {postimages && postimages.filter((image) =>
          image.path.toLowerCase().includes(tagSearch)
        ).map((image, index) => (
          <div key={index}>
            <a href={image.path} style="text-decoration: none;">
              <img src={image.path} alt="" style="max-width: 100%; height: auto;" />
            </a>
          </div>
        ))}
      </div>
    </section>
  </div>

  <script setup>
    let tagSearch = '';

    const handleTagSearch = (event) => {
      tagSearch = event.target.value.toLowerCase();
    };
  </script>
</Layout>
