---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="pb-12 mt-5">
      <div class="text-3xl w-full font-bold mb-2">Impressum</div>
      
      <div class="text-2xl py-2 font-bold">Angaben gemäß § 5 TMG:</div>
      <div class="text-lg py-1">
        Aps, Fabian<br />
        Ludwig-Renn-Straße 33<br />
        12679 Berlin, Deutschland
      </div>

      <div class="text-2xl py-2 font-bold">Kontakt:</div>
      <div class="text-lg py-1">
        E-Mail: mcpeaps_HD@outlook.com
      </div>

      <div class="text-2xl py-2 font-bold">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</div>
      <div class="text-lg py-1">
        Aps, Fabian<br />
        Ludwig-Renn-Straße 33<br />
        12679 Berlin, Deutschland
      </div>

      <div class="text-2xl py-2 font-bold">Weitere Informationen:</div>
      <div class="text-lg py-1">
        Diese Webseite dient privaten und nicht-kommerziellen Zwecken.
      </div>
    </div>
  </main>
</Layout>
