---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import SocialLinks from "@/components/SocialLinks.astro";
import SiteLinks from "@/components/SiteLinks.astro";


import Link from "@/components/shared/Link.astro"

const today = new Date();;


const pathname = removeTrailingSlash(Astro.url.pathname);
---
  <main>

    <a href="/wubia-one/" class="font-bold">&copy; {today.getFullYear()}  wubia</a>
  
</main>
