---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
const pathname = removeTrailingSlash(Astro.url.pathname);
---
<ul role="list" class="flex flex-row gap-2"></ul>
  <div class="text-center">
    <a class="border-l pl-2 "
      href="/wubia-one/"
      class:list={{
        ["hover:text-neutral-100"]: true,
        ["text-neutral-100"]: pathname === "/",
      }}> Home</a
    >
  </div>
  <div class="text-center">
    <a class="border-l  pl-2"
      href="/wubia-one/posts"
      class:list={{
        ["hover:text-neutral-100"]: true,
        ["text-neutral-100"]: pathname === "/posts",
      }}> Posts</a
    >
  </div>
 
    <div class="text-center">
    <a  class="border-l pl-2 "
      href="/wubia-one/cv"
      class:list={{
        ["hover:text-neutral-100"]: true,
        ["text-neutral-100"]: pathname === "/cv",
      }}> CV</a
    >
  </div>
 
  
</ul>